
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.badge{
    position: absolute;
    top: 0.5em;
    left: 1.8em;
    font-size: var(--bodyText);
    font-weight: normal;

}
.newBadge{
    background-color: var(--primaryAccent);
}
.offerBadge{
    background-color: var(--secondary);
}

.rightAddToCompare{
    position: absolute;
    top: 0.5em;
    right: 1.8em;
}

.compareLable{
    background-color: var(--primaryAccent);
    color: #fff;    
    position: inherit;
    top: -26px;
    left: -66px;
    opacity: 0.25;
    border-radius: 4px;

}
.compareArrow{
    color:var(--primaryAccent);
    /* cursor: pointer; */
    cursor: url('../../../assets/images/handcursor6.png') , pointer ;
}

.cardImgContainer {
    width: 100%;
    /* margin-bottom: 2em; */
}

.cardImgContainer img {
    width: 100%;
}