<!-- As a link -->
<!-- <nav class="navbar navbar-expand-lg navbackgroung">


  <div class="d-flex" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
   
    </ul>
    <form class="d-flex form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn search-btn my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>

  <a class="navbar-brand" href="#">Navbar</a>

</nav> -->
  
<div class="uppderNavContainer">
    <!-- <div class="p-3"> -->
      <div class="row upperNavbar">
        <div class="col-2">
          <a class="navBtn me-3"> <i class="fa-solid fa-cart-shopping"></i> سلة التسوق</a>
          <a class="navBtn"><i class="fa-solid fa-user"></i></a>

        </div>
        <div class="col-8">
          <div class="searchContainer w-100 d-flex ">
            
              <input type="text" class="searchInput w-100" placeholder="عم تبحث؟">
              <span class="fa-solid fa-magnifying-glass searchGlass"></span>
            

              <!-- <button><i class="fa-solid fa-magnifying-glass"></i></button> -->
            
          </div>
        </div>
        <div class="col-1">
          <div class="logoHolder ">
            <img src="../../../assets/images/kshopLogo.PNG" class="w-100">
          </div>
        </div>
      </div>
        
       
    <!-- </div> -->
</div>