<!-- Upper Navbar -->


  <div class="uppderNavContainer">
    <div class=" d-felx upperNavbar">
    
        <a class="navBtn cartBtn"> <i class="fa-solid fa-cart-shopping me-2"></i> سلة التسوق</a>
        <a class="navBtn"><i class="fa-solid fa-user"></i></a>


      
        <div class="searchContainer flex-grow-1">

          <input type="text" class="searchInput w-100" placeholder="عم تبحث؟">
          <span class="fa-solid fa-magnifying-glass searchGlass"></span>



        </div>
     
      
        <div class="logoHolder ">
          <img src="../../../assets/images/kshopLogo.PNG" class="w-100">
        </div>
     
    </div>


  </div>

<!-- Lower Navbar -->
 <nav class="navbar navbar-expand-lg darkNavbar">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#">من نحن <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">تواصل معنا</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">قائمة الأمنيات</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">الرئيسية</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          الأقسام
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">قسم 1</a>
          <a class="dropdown-item" href="#">قسم 2</a>
          <a class="dropdown-item" href="#">قسم 3</a>
        </div>
      </li>
    </ul>
  </div>

</nav> 

