.carousel-control-next,
.carousel-control-prev{
    
    background: rgba(238, 238, 248, 0.4) !important;
    height: 43px;
    width: 43px;
    top: 66%;
    font-size: var(--bodyText);
    opacity: 1;
}


@media screen and (max-width:768px) {
    .carousel-control-next, 
    .carousel-control-prev{
        height: 35px !important;
        width: 29px !important;
        top: 46% !important;   
        
    }
      
  

}
@media screen and (max-width:375px) {
    .carousel-control-next, 
    .carousel-control-prev{
        height: 25px !important;
        width: 19px !important;
        top: 46% !important;   
        
    }
      
  

}