<div class="card">


    <app-product-img [product]="product"></app-product-img>
    
    <div class="cardBody">
        <div class="title">
            <h4>
                {{product.title.split("-").splice(0,3).join("-")}}
            </h4>
        </div>
        <div class="rating">
            <i class="fa-solid fa-star starOff"></i>
            <i class="fa-solid fa-star starOff"></i>
            <i class="fa-solid fa-star starOff"></i>
            <i class="fa-solid fa-star starOn"></i>
            <i class="fa-solid fa-star starOn"></i>


        </div>
        <div *ngIf="product.previousPrice" class=" previousePrice">
            <small class="prevPrice" dir="rtl">{{product.previousPrice}} <small
                    class="arabicCurrency">ج.م</small>
                <div class="lineThought"></div>
            </small>
        </div>
        <div class="price">
            <span dir="rtl">{{product.price}} ج.م </span>
        </div>
    </div>
    <div class="cardFooter">
        <div class="row justify-content-evenly align-items-baseline ">
            <div class="col-3 pe-0">
                <div class="rightIcons">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="leftBtn">
                    <button class="btn addToCartBtn">أضف للسلة &nbsp;<i
                            class="fa-solid fa-cart-plus"></i> </button>
                </div>
            </div>
        </div>


    </div>
</div>