.homeContainer{
    background-color: var(--backGroundColor);
    display: flex;
    padding:0 5rem ;
    margin-top: 2rem;
    height: fit-content;
}

.newArrivals{
    width: 70%;
}

.recentSeen{
    width:24%
}
.newArrivalsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allProductsBtn{
    background-color:var(--backGroundColor) ;
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    padding: 0.4em 1.7em;
    font-size: var(--headLine5);
    font-weight: bold;
    transition: all 0.5s;
}
.allProductsBtn:hover{
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--backGroundColor);
}

.grayLine{
    height: 1px;
    flex-grow: 1;
    background-color: var(--dividerGray);
    margin-inline: 1em;
}

.newArrivalTitle span{
    font-size: var(--headLine1);
    color: var(--textBlack);
    font-weight: normal;
}

/* Card */

.card{
    width: 25%;
    background-color: #fff;
    position: relative;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
}

.cardImgContainer {

    height: 250px;
}

.cardImgContainer img{
    width: 100%;
}