<app-slider></app-slider>

<section>
    <div class=" homeContainer">
        <div class="row mx-0 justify-content-end justify-content-lg-center ">

            <!-- New Arrivals -->

            <div class="col-lg-8 col-md-12">
                <div class="newArrivalsHeader">
                    <button class="allProductsBtn">عرض الكل</button>
                    <div class="grayLine"></div>
                    <div class="newArrivalTitle">
                        <span>وصل حديثا</span>
                    </div>
                </div>
                <div *ngIf="products" class="row gy-md-3 justify-content-center ">
                    <div *ngFor="let product of products" class="col-xl-3 col-md-4 col-sm-5 mb-4">
                        <app-product-card [section]="'home'" [product]="product" (click)="addToLastSeen(product.id)"></app-product-card>
                    </div>

                </div>


            </div>

            <!-- Last Seen -->

            <div class="col-lg-3 col-md-7 col-9 px-0 lastSeenSection me-lg-0 me-2">
                <div class="lastSeenHeader">

                    <div class="lastSeenTitle">
                        <span dir="rtl">منتجات تصفحتها مؤخرا</span>
                    </div>
                </div>
                <div class="lastSeenContainer">
                    <div *ngFor="let product of lastSeenThreeProducts" class="lastSeenCard">
                       
                        <app-product-card [section]="'lastSeen'" [product]="product"></app-product-card>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>