<section>
    <div class="homeContainer">
        <!-- New Arrivals -->
        <div class="newArrivals">
            <div class="newArrivalsHeader">
                <button class="allProductsBtn">عرض الكل</button>
                <div class="grayLine"></div>
                <div class="newArrivalTitle">
                    <span>وصل حديثًا</span>
                </div>
            </div>
            <!-- Card Starts -->
            <!-- <div class="card">
                <div class="cardHeader">
                    <span class="badge">Primary</span>
<span>أضف للمقارنة</span>
                </div>
                <div class="cardImgContainer"></div>
                <div class="cardBody">
                    <div class="description"></div>
                    <div class="rating"></div>
                    <div class="price"></div>
                    <div class="cardFooter"></div>
                </div>
            </div> -->
            <!-- Card Ends -->
        </div>

        <!-- Recent Seen -->
        <div class="recentSeen">
            2
        </div>
    </div>

</section>