.homeContainer {
    background-color: var(--backGroundColor);
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* padding: 0 5rem; */
    padding-top: 2rem;
    height: fit-content;
}

.newArrivals {
    width: 75%;

}

.recentSeen {
    width: 24%
}

.newArrivalsHeader,
.recentSeenHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.allProductsBtn {
    background-color: var(--backGroundColor);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    padding: 0.4em 1.7em;
    font-size: var(--headLine5);
    font-weight: bold;
    transition: all 0.5s;
}

.allProductsBtn:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--backGroundColor);
}

.grayLine {
    height: 1px;
    flex-grow: 1;
    background-color: var(--dividerGray);
    margin-inline: 1em;
}

.newArrivalTitle span {
    font-size: var(--headLine1);
    color: var(--textBlack);
    font-weight: normal;
}

/* Card */
.cardsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Recent Seen */
.recentSeenTitle{
    font-size:var(--headLine4);
    text-align: right;
    width: 100%;

}
.recentSeenContainer{
    background-color: teal;
    height: 300px;
}