/* You can add global styles to this file, and also import other style files */
:root{
    --dividerGray: #b7aeca;
    --primary:#302ca2;
    --primaryAccent:#23104E;
    --secondary:#26a37c;
    --backGroundColor:#f6f6f6;
    --textBlack:#032326;
    --starOn:#ffe621;
    --starOff:#eaeaea;
    --backColor:#EEEEF8;

    /* Font sizes */

    --headLine1: 24px;
    --headLine2: 18px;
    --headLine3: 18px;
    --headLine4: 18px;
    --headLine5: 16px;
    --titleSize: 16px;
    --bodyText: 14px;
    --caption: 12px;
   
    
}

.section{
    margin-inline: 50px;
    /* margin: 20px 50px; */
}