/* You can add global styles to this file, and also import other style files */
:root{
    --dividerGray: #b7aeca;
    --primary:#302ca2;
    --primaryAccent:#23104E;
    --secondary:#26a37c;
    --backGroundColor:#f6f6f6;
    --textBlack:#032326;
    --starOn:#ffe621;
    --starOff:#eaeaea;
    --backColor:#EEEEF8;

    /* Font sizes */

    --headLine1: 24pt;
    --headLine2: 18pt;
    --headLine3: 18pt;
    --headLine4: 18pt;
    --headLine5: 16pt;
    --titleSize: 16pt;
    --bodyText: 14pt;
    --caption: 12pt;
   
    
}

.section{
    margin: 20px 50px;
}